*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
:root {
  --bs-dblue: #071434;
  --bs-blue:  #3734A9;
  --bs-orange:#FF805D;
  --bs-green: #4CB050;
  --bs-grey:  #AFB6C0;
  --bs-lblue: #00DEED;
  --bs-black:   #2E3436
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */